<div class="container">
  <h2>test</h2>
  <table border="1">
    <tr>
      <th>Name</th>
      <th>Surname</th>
      <th>Address</th>
      <th>Budget</th>
      <th>Delete?</th>
    </tr>
    <tr *ngFor="let cust of customers; let i = index" (click)="select(i)">
      <td>{{cust.firstName}}</td>
      <td>{{cust.lastName}}</td>
      <td>{{cust.address}}</td>
      <td>{{cust.budget}}</td>
      <td><button type="button" class="btn btn-secondary"
                  (click)="deleteCustomer(cust.id, i)">Del</button></td>
    </tr>
  </table>
  <br>
  <p>New customer</p>
  <br>
  <button type="button" #myCheck (click)="clear()" class="btn btn-secondary">Clear form</button>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="firstName">First Name</label>
      <input type="text" [(ngModel)]="model.firstName" name="firstName" class="form-control" id="firstName">
      <label for="lastName">Last Name</label>
      <input type="text" [(ngModel)]="model.lastName" name="lastName" class="form-control" id="lastName">
      <label for="address">Address</label>
      <input type="text" [(ngModel)]="model.address" name="address" class="form-control" id="address">
      <label for="budget">Budget</label>
      <input type="number" [(ngModel)]="model.budget" name="budget" class="form-control" id="budget">
      <br>
      <button type="submit" class="btn btn-success">Submit</button>
    </div>
  </form>
</div>
