<div class="container"><br>
  <h4>
    <mark>Auto:</mark>
    {{name}}
    <small>{{model}}</small>
  </h4>
  <div class="alert alert-success">
    Haract:
    <ul>
      <li>Speed: <strong>{{speed}}</strong></li>
      <li>Color car: <strong>{{colors.car}}</strong></li>
      <li>Color salon: <strong>{{colors.salon}}</strong></li>
      <li>Color wheel: <strong>{{colors.wheels}}</strong></li>
    </ul>
  </div>

  <h5>Edit</h5>
  <button type="button" class="btn btn-success" (click)="showEdit()">Edit</button>
  <div><br></div>

  <form *ngIf="isEdit">
    <div class="form-group">
      <input type="text" placeholder="Car name"
             class="form-control" [(ngModel)]="name" name="name"><br>
      <input type="text" placeholder="Car model"
             class="form-control" [(ngModel)]="model" name="model"><br>
      <input type="number" placeholder="Car speed"
             class="form-control" [(ngModel)]="speed" name="speed"><br>
      <input type="text" placeholder="Car color"
             class="form-control" [(ngModel)]="colors.car" name="colors.car"><br>
      <input type="text" placeholder="Salon color"
             class="form-control" [(ngModel)]="colors.salon" name="colors.salon"><br>
      <input type="text" placeholder="Wheels color"
             class="form-control" [(ngModel)]="colors.wheels" name="colors.wheels"><br>
    </div>
  </form>

  <h5>Abilities</h5>
  <form (submit)="addOpt(option.value)">
    <div class="form-group">
      <label for="option">Option</label>
      <input type="text" id="option" placeholder="Enter" class="form-control" #option>
      <br>
      <button type="submit" class="btn btn-success">Add</button>
    </div>
  </form>

  <div class="alert alert-warning">
    <ul>
      <li *ngFor="let opt of options; let i = index"> ind: {{i}} - {{opt}}</li>
    </ul>
  </div>

  <div>
    <button class="btn btn-danger" (click)="carSelect('bmw')">BMW</button>
    <button class="btn btn-danger" (click)="carSelect('audi')">AUDI</button>
    <button class="btn btn-danger" (click)="carSelect('bugatti')">BUGATTI</button>
  </div>
</div>

